.about {
  display: flex;
  justify-content: center;
  margin-bottom: 41px;
  position: relative;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 19px;
  }

  &::before {
    @include vp-1200 {
      position: absolute;
      content: "";
      z-index: -1;
      width: 618px;
      height: 280px;
      top: -13%;
      right: 0;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 618px auto;
      background-image: url("../../img/decor/decor-4-desktop.png");

      @include retina {
        background-image: url("../../img/decor/decor-4-desktop@2x.png");
      }
    }
  }

  .webp & {
    @include vp-1200 {
      &::before {
        background-image: url("../../img/decor/decor-4-desktop.webp");

        @include retina {
          background-image: url("../../img/decor/decor-4-desktop@2x.webp");
        }
      }
    }
  }
}

.about__col {
  width: 100%;
  max-width: 50%;

  &--img {
    overflow: hidden;

    @include vp-1199 {
      padding-top: 7px;
    }

    @include vp-767 {
      margin-bottom: 47px;
      padding-top: 0;
    }

    & img {
      max-width: none;
      width: 808px;
      height: 474px;

      @include vp-1199 {
        width: 475px;
        height: 402px;
      }

      @include vp-767 {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &--text {
    padding-left: 16px;
    padding-top: 36px;
    padding-right: 120px;

    @include vp-1199 {
      padding-right: 45px;
      padding-top: 0;
    }

    @include vp-767 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.about__title {
  max-width: 705px;
  margin-bottom: 56px;

  @include vp-1199 {
    margin-bottom: 34px;
  }
}

.about__subtitle {
  max-width: 705px;
  margin-bottom: 16px;
}

.about__descr {
  margin: 0;
  margin-bottom: 30px;
  max-width: 705px;
  color: $text-dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  @include vp-767 {
    line-height: 20px;
    margin-bottom: 42px;
  }
}
