.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  transition: background-color, border, color $trans-default;
  border: 1px solid $color-transparent;
  color: $text-light;
  background-color: $color-main;

  @include hover-focus {
    outline: none;
    color: $text-active;
    border: 1px solid $color-active;
    background-color: $color-default-white;

    @include active {
      color: $text-light;
      border: 1px solid $color-active;
      background-color: $color-active;
    }
  }

  &:disabled {
    color: $text-light;
    pointer-events: none;
    background: rgba(2, 102, 193, 0.1);
  }

  &--disabled {
    color: $text-light;
    pointer-events: none;
    background: rgba(2, 102, 193, 0.1);
  }
}
