.education {
  padding-top: 75px;
  position: relative;
  ///
  margin-bottom: 300px;

  @include vp-1199 {
    padding-top: 33px;
  }

  @include vp-767 {}

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba($color-main, 0.2);
    bottom: 6px;
    left: 0;
    right: 0;
  }
}

.education__slider-container {
  position: relative;
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  margin-bottom: 41px;
  padding-left: 110px;
  padding-right: 110px;

  @include vp-1199 {
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 32px;
  }

  @include vp-767 {}
}

.education__wrapper {
  @include vp-1199 {}

  @include vp-767 {}
}

.education__title {
  margin-bottom: 31px;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 18px;
  }
}

.education__descr {
  margin: 0;
  margin-bottom: 57px;
  max-width: 68.33%;
  color: $text-dark;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    max-width: 77.88%;
    margin-bottom: 67px;
  }

  @include vp-767 {
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}

.education__list-title,
.education__info-title {
  margin: 0;
  color: $text-dark;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.education__list-title {
  margin-bottom: 32px;

  @include vp-1199 {
    margin-bottom: 23px;
  }
}

.education__info-title {
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}


.education__btns {
  right: 32px;
  top: -17px;

  @include vp-1199 {
    top: -7px;
    right: 30px;
  }

  @include vp-767 {
    top: -47px;
  }
}

.education__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include vp-1199 {
    row-gap: 92px;
  }

  @include vp-767 {
    row-gap: 25px;
  }

  & li {
    width: 100%;
    max-width: 23.17%;
    padding-bottom: 41px;
    position: relative;
    color: $text-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @include vp-1199 {
      max-width: 47.79%;
      padding-right: 84px;
      padding-bottom: 26px;
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      max-width: 100%;
      font-size: 12px;
      line-height: 18px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      bottom: 0;
      left: 0;
      background-color: $color-main;
      border-radius: 50%;
    }
  }
}

.education__item {
  &--1 p {
    @include vp-1199 {
      order: 1;
    }

    &::before {
      width: 25px;
      height: 25px;
      background-image: url("../../img/svg/map.svg");

      @include vp-767 {
        width: 19px;
        height: 19px;
      }
    }
  }

  &--2 p {
    @include vp-1199 {
      order: 2;
    }

    &::before {
      width: 24px;
      height: 24px;
      background-image: url("../../img/svg/boots.svg");

      @include vp-767 {
        width: 19px;
        height: 19px;
      }
    }
  }

  &--3 p {
    @include vp-1199 {
      order: 4;
    }

    &::before {
      width: 23px;
      height: 23px;
      background-image: url("../../img/svg/pine-tree.svg");

      @include vp-767 {
        width: 19px;
        height: 22px;
      }
    }
  }

  &--4 p {
    @include vp-1199 {
      order: 3;
    }

    &::before {
      width: 25px;
      height: 25px;
      background-image: url("../../img/svg/mountain.svg");

      @include vp-767 {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.education__item-text {
  margin: 0;
  padding-left: 40px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
