.features {
  position: relative;
  margin-bottom: 130px;

  @include vp-1199 {
    // height: 982px;
    margin-bottom: 70px;
  }

  // @include vp-767 {
  //   padding: 0 15px;
  // }

  &::before {
    @include vp-1200 {
      position: absolute;
      content: "";
      z-index: -1;
      width: 705px;
      height: 391px;
      top: -52.5%;
      left: 0;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 705px auto;
      background-image: url("../../img/decor/decor-5-desktop.png");

      @include retina {
        background-image: url("../../img/decor/decor-5-desktop@2x.png");
      }
    }
  }

  .webp & {
    @include vp-1200 {
      &::before {
        background-image: url("../../img/decor/decor-5-desktop.webp");

        @include retina {
          background-image: url("../../img/decor/decor-5-desktop@2x.webp");
        }
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 602px;
    height: 263px;
    top: -12.5%;
    right: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 602px auto;
    background-image: url("../../img/decor/decor-6-desktop.png");

    @include retina {
      background-image: url("../../img/decor/decor-6-desktop@2x.png");
    }
  }

  .webp & {
    &::after {
      background-image: url("../../img/decor/decor-6-desktop.webp");

      @include retina {
        background-image: url("../../img/decor/decor-6-desktop@2x.webp");
      }
    }
  }
}

.features__title {
  margin: 0 auto;
  margin-bottom: 47px;
  text-align: center;
  max-width: 100%;

  & span {
    left: 50%;
    transform: translateX(-50%);
  }
}

.features__slider-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 48px;
}

// .features__slider {}

// .features__wrapper {}

// .features__slide {}

.features__btns {
  display: flex;
  width: 100%;
  justify-content: center;
}
