.form {}

.form__container {
  display: flex;
  column-gap: 30px;
  // flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  & input {
    border: 1px solid rgba(2, 102, 193, 0.10);
    background: $color-default-white;
    min-height: 64px;
    width: 100%;
    max-width: 340px;
    padding-left: 30px;
    padding-right: 30px;

    @include hover {
      border: 1px solid $color-main;
    }

    @include focus {
      border: 1px solid $color-active;
      outline: none;
    }

    @include active {
      border: 1px solid $color-active;
    }

    &:disabled {
      border: 1px solid rgba(2, 102, 193, 0.10);
    }

    &--error {
      border: 1px solid $color-error;
    }

    @include vp-1199 {
      min-height: 50px;
      min-width: 266px;
    }

    @include vp-767 {
      min-height: 52px;
      max-width: none;
    }
  }

  & button[type=submit] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    max-width: 238px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    transition: background-color, border, color $trans-default;
    border: 1px solid $color-transparent;
    color: $text-light;
    background-color: $color-main;
  }
}

.form__field {
  width: 100%;
  max-width: 340px;
}

.form__field--name {}

.visually-hidden {}

.form__field--phone {}
