.hero-slide {
  background-color: #adc7dc;
  margin: 0 auto;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $black-to-right;
    z-index: 2;
  }
}

.hero-slide__img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.hero-slide__row {
  padding-top: 182px;
  min-height: 800px;
  position: relative;
  z-index: 2;

  @include vp-1199 {
    padding-top: 174px;
    min-height: 1024px;
  }

  @include vp-767 {
    padding-top: 140px;
    min-height: 568px;
  }
}

.hero-slide__col {
  &--left {
    display: flex;
    flex-direction: column;
    min-height: 538px;
    height: 100%;
    padding-top: 79px;

    @include vp-1199 {
      padding-top: 100px;
      align-items: center;
      min-height: 282px;
    }

    @include vp-767 {
      padding-top: 69px;
    }
  }
}

.hero-slide__title {
  width: 100%;
  max-width: 944px;
  margin: 0;
  margin-bottom: 24px;
  color: $text-light;
  font-size: 77px;
  font-weight: 800;
  line-height: 77px;
  position: relative;
  z-index: 4;

  @include vp-1199 {
    max-width: 670px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 56px;
    line-height: 56px;
  }

  @include vp-767 {
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }
}

.hero-slide__descr {
  max-width: 464px;
  margin: 0;
  margin-bottom: 35px;
  color: $text-light;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  @include vp-1199 {
    margin-bottom: 28px;
    text-align: center;
  }

  @include vp-767 {
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 20px;
  }
}

.hero-slide__btn {
  width: 100%;
  max-width: 220px;
  min-height: 58px;
  margin-bottom: 15px;

  @include vp-1199 {
    max-width: 206px;
    margin-bottom: 0;
  }

  @include vp-767 {
    min-height: 52px;
    max-width: 62.07%;
  }
}

.hero-slide__info {
  display: inline-flex;
  margin-top: auto;
  column-gap: 10px;
}

.hero-slide__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  color: $text-light;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 40px;
  padding-right: 20px;
  border: 1px solid $color-default-light;

  @include vp-1199 {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 20px;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &--time {
    &::before {
      background-image: url("../../img/svg/moon.svg");
    }
  }

  &--complexity {
    &::before {
      background-image: url("../../img/svg/level.svg");
    }
  }
}

.hero-slide__audio-container,
.hero-slide__video-wrapper,
.hero-slide__img-wrapper {
  position: absolute;
  z-index: 3;
  right: 0;

  @include vp-1199 {
    position: relative;
    top: 0;
  }

  @include vp-767 {
    display: none;
  }
}

.hero-slide__video-wrapper {
  max-width: 482px;
  top: 37.6%;
  cursor: pointer;

  @include vp-1199 {
    max-width: 442px;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.hero-slide__img-wrapper {
  top: 25.4%;

  @include vp-1199 {
    margin-top: 34px;
  }

  & img {
    width: 410px;
    height: 459px;

    @include vp-1199 {
      width: 442px;
      height: 365px;
      margin: 0 auto;
    }
  }
}

.hero-slide__audio-container {
  width: 340px;
  height: 220px;
  top: 37.6%;

  @include vp-1199 {
    margin: 0 auto;
    margin-top: 70px;
  }
}
