.map__container {
  width: 585px;
  min-height: 324px;
  height: auto;

  @include vp-1199 {
    width: 100%;
    min-height: 340px;
    padding-bottom: 50%;
  }

  @include vp-767 {
    min-height: 320px;
  }
}

.map__img-container {
  & img {
    width: 585px;
    height: 324px;

    @include vp-1199 {
      width: 100%;
      object-fit: cover;
    }
  }

  &--hide {
    display: none;
  }
}
