.nav {
  &--header {
    margin-left: auto;
    margin-right: auto;

    @include vp-1199 {
      padding-left: 45px;
      padding-right: 45px;
      background-color: $color-default-white;
      position: fixed;
      z-index: 20;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: background-color 0.3s ease;
      pointer-events: none;
      max-height: 100vh;
      overflow-y: auto;
    }

    .is-open & {
      top: 0;
      padding-top: 49px;
      padding-bottom: 70px;
      padding-left: 39px;
      opacity: 1;
      pointer-events: all;
      visibility: visible;

      @include vp-767 {
        padding-top: 22px;
        padding-left: 9px;
        padding-bottom: 0;
      }

      .nav__item {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &--footer {
    @include vp-1199 {
      padding-top: 4px;
      margin-left: auto;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  & a {
    padding: 3px 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    border: 1px solid $color-transparent;
    user-select: none;

    @include vp-1199 {
      font-size: 14px;
      line-height: 14px;
    }

    &--disabled {
      color: $color-default-black;
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.nav__list--header {
  column-gap: 21px;
  row-gap: 22px;

  @include vp-1199 {
    flex-direction: column;
    max-width: unset;
  }

  @include vp-767 {
    align-items: flex-start;
    row-gap: 16px;
    margin-bottom: 48px;
  }

  & li {
    @include vp-1199 {
      opacity: 0;
      transition: opacity ease-out 0.15s, transform ease-out 0.15s;
      transform: translateX(-15px);
    }
  }

  & a {
    color: $text-light;

    @include hover {
      color: $text-light;
      outline: none;
      border-bottom: 1px solid $color-default-white;

      @include active {
        border-color: $color-transparent;
      }
    }

    @include focus {
      color: $text-light;
      outline: none;
      border: 1px solid $color-default-white;
    }

    @include vp-1199 {
      color: $text-dark;
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.64px;
      text-transform: uppercase;

      @include hover {
        color: $text-dark;
        outline: none;
        border-bottom: 1px solid $color-dark;

        @include active {
          color: $color-dark;
        }
      }

      @include focus {
        color: $text-dark;
        border: 1px solid $color-dark;
      }
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 0.56px;
    }
  }
}

.nav__list--footer {
  max-width: 655px;
  column-gap: 22px;
  row-gap: 15px;
  padding-top: 20px;
  margin-bottom: 15px;

  @include vp-1199 {
    padding-top: 0;
    max-width: none;
    column-gap: 10px;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 9px;
    grid-auto-flow: dense;
  }

  & li {
    &:nth-child(6n-5) {
      @include vp-767 {
        order: 1;
      }
    }

    &:nth-child(6n-4) {
      @include vp-767 {
        order: 3;
      }
    }

    &:nth-child(6n-3) {
      @include vp-767 {
        order: 5;
      }
    }

    &:nth-child(6n-2) {
      @include vp-767 {
        order: 2;
      }
    }

    &:nth-child(6n-1) {
      @include vp-767 {
        order: 3;
      }
    }

    &:nth-child(6n) {
      @include vp-767 {
        order: 6;
      }
    }

    @include vp-767 {
      width: 100%;
    }
  }

  & a {
    color: $text-dark;

    @include hover {
      outline: none;
      border-bottom: 1px solid $color-dark;

      @include active {
        border-color: $color-transparent;
      }
    }

    @include focus {
      outline: none;
      border: 1px solid $color-dark;
    }
  }
}
