.page-header__container {
  position: relative;
  z-index: 30;
  transform: translateY(40px);
  transition: transform 0.3s ease, background-color 0.3s ease;

  @include vp-1199 {
    transform: translateY(30px);
  }

  @include vp-767 {
    transform: translateY(8px);
  }

  &.is-open .page-header__logo svg {
    color: $text-dark;
  }

  &.is-open .page-header__link--phone {
    color: $text-dark;
  }
}

.page-header__burger {
  align-items: center;
  background-color: transparent;
  border: none;
  color: $color-dark;
  display: none;
  padding: 0;
  position: relative;
  z-index: 25;

  @include vp-1199 {
    display: flex;
    position: relative;
    transition: opacity 0.3s ease;
  }

  .is-open {
    .page-header__burger-icon--open {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
    }

    .page-header__burger-icon--close {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease 0.2s;
    }
  }
}

.page-header__burger-icon--open {
  transition: opacity 0.3s ease 0.1s;
  cursor: pointer;
  color: $text-light;

  .is-open & {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
  }
}

.page-header__burger-icon--close {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  .is-open & {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease 0.2s;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-wrap: wrap;
    align-items: start;
    padding-top: 7px;
  }
}

.page-header__link--phone {
  color: $text-light;
  text-align: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    width: 100%;
  }

  @include hover-focus {
    color: $text-active;
    outline: none;

    @include active {
      color: $color-main;
    }
  }
}
