.review-slide {
  height: auto;
  width: 810px;

  @include vp-1199 {
    width: 580px;
  }

  @include vp-767 {
    width: 100%;
    height: calc(100% - 20px);
  }
}

.review-slide__container {
  background: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  margin: 10px;
  padding: 20px;
  padding-right: 20px;
  display: flex;
  column-gap: 30px;
  height: calc(100% - 20px);

  @include vp-1199 {
    padding-right: 20px;
  }

  @include vp-767 {
    flex-direction: column;
    // height: auto;
    // height: calc(100% - 40px);
  }

  & picture {
    flex-shrink: 0;
  }

  & img {
    width: 258px;
    height: 253px;

    @include vp-1199 {
      width: 186px;
      height: 237px;
    }

    @include vp-767 {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

// .review-slide__img-container {
//   flex-shrink: 0;

//   @include vp-767 {
//     margin-bottom: 15px;
//   }

//   & img {
//     width: 258px;
//     height: 253px;

//     @include vp-1199 {
//       width: 186px;
//       height: 237px;
//     }

//     @include vp-767 {
//       width: 100%;
//       height: auto;
//       object-fit: cover;
//     }
//   }
// }

.review-slide__content {
  display: flex;
  flex-direction: column;
  padding-top: 14px;

  @include vp-1199 {
    padding-top: 2px;
  }

  @include vp-767 {
    padding-top: 5px;
  }

  & p {
    margin: 0;
    margin-bottom: 10px;
    color: $text-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &:last-of-type {
      @include vp-767 {
        margin-bottom: 15px;
      }
    }

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  .review-slide__inner {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    min-height: 239px;

    @include vp-1199 {
      min-height: 235px;
    }

    @include vp-767 {
      min-height: auto;
    }
  }

  .review-slide__author {
    margin-top: auto;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;

    @include vp-1199 {
      margin-bottom: 3px;
    }

    @include vp-767 {
      margin-bottom: 0;
    }
  }

  & span {
    margin-bottom: 8px;
    color: $text-dark;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;

    @include vp-1199 {
      margin-bottom: 7px;
      font-size: 12px;
      line-height: normal;
    }

    @include vp-767 {
      line-height: 12px;
    }
  }

  & small {
    color: $text-dark;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
  }
}
