.review-slide {
  max-width: 790px;

  @include vp-1199 {
    max-width: 560px;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.review-slide__container {
  background: $color-default-white;
  box-shadow: 0 0 30px 0 rgba(28, 51, 116, 0.1);
  margin: 10px;
  padding: 20px;
  padding-right: 40px;
  min-height: 293px;
  display: flex;
  column-gap: 30px;

  @include vp-1199 {
    min-height: 277px;
    padding-right: 30px;
  }

  @include vp-767 {
    min-height: 466px;
    flex-direction: column;
    padding-right: 20px;
  }
}

.review-slide__img-container {
  flex-shrink: 0;

  @include vp-767 {
    margin-bottom: 13px;
  }

  & img {
    width: 258px;
    height: 253px;

    @include vp-1199 {
      width: 186px;
      height: 237px;
    }

    @include vp-767 {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.review-slide__content {
  display: flex;
  flex-direction: column;
  padding-top: 16px;

  @include vp-1199 {
    padding-top: 3px;
  }

  & p {
    margin: 0;
    color: $text-dark;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &:first-child {
      margin-bottom: 10px;
    }

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
    }
  }

  & span {
    margin-top: auto;
    margin-bottom: 8px;
    color: $text-dark;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;

    @include vp-1199 {
      font-size: 12px;
      line-height: normal;
    }

    @include vp-767 {
      line-height: 12px;
    }
  }

  & small {
    color: $text-dark;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
  }
}
